* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-wrap {
  padding: 0 50px 30px 50px;
  background-color: white;
  border-radius: 5px;
  text-align: center;
}

.center {
  margin: 20px auto;
}

.full-height {
  min-height: 100vh !important;
}

canvas {
  border-radius: 5px;
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

.flex {
  display: flex !important;
}

.stage {
  display: none;
  flex-direction: column;
  width: 100%;
}

.game {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: calc(100vh - 20px);
  margin: 10px;
}

/* Score Table */
.score-table {
  display: flex;
  flex: 1;
  margin: 10px;
}

.table {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}

.tr {
  flex: 1;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid silver;
}

.th {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.td {
  flex: 1;
  display: flex;
  align-items: center;
}

.player-name {
  border-radius: 5px;
}

.point {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.total {
  padding: 0;
}

.point:hover {
  background-color: #66bb6a;
}

.completed {
  background-color: #4caf50;
  color: white;
}
/* Score Table End*/

/* Dice Space */
.dice-space {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.dice-store {
  display: flex;
  height: 100px;

  background-color: white;
  border-radius: 5px;
  margin: 10px;
}

.button-endTurn {
  margin: 32px;
}

#selected-dice {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}

#dice-roll {
  flex: 2;
  display: flex;
  flex-direction: row;
}

#canvas {
  position: relative;
  flex: 1;
  margin: 10px;
}

#btnStart {
  cursor: pointer;
  position: absolute;
  top: 2%;
  left: 2%;
  width: 96%;
  height: 96%;
  border-radius: 5px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

#btnStart p {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

#dice-tool {
  flex-shrink: 1;
  margin: 10px;
}

.tool {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}

.button-wrap {
  margin-bottom: 10px;
}

.button-wrap button {
  width: 100%;
}

.power {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.power-icon {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.power-icon > a > i {
  font-size: 2rem !important;
}

.fixed-action-btn {
  padding: 0 !important;
  right: unset;
  bottom: unset;
  position: relative;
}

.chat-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
}

.chat-main {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.chat-info {
  display: flex;
  flex-direction: column;
}

.room-info, .user-info {
  display: flex;
  flex-direction: row;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  min-height: 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

#chat-form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.message {
  display: flex;
  flex-direction: row;
}

#room-name, #users {
  padding-left: 10px;
}

.start-container {
  display: none;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media screen and (max-width: 1000px) {
  .chat-container {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .game {
    flex-direction: column;
    height: auto;
  }
}